.lan{
    background: #3791ec;
    color: #fff!important;
 
}

.jb{
    background-image: linear-gradient(to bottom right, rgb(221, 221, 221), rgb(109, 109, 109))!important;
}

 .bai{
 
  color: #fff!important;
}


.text_lan{
    color:#3791ec!important;
}
